.footer {
  background-color: #F5F5FA;
  padding-bottom: 30px;

  .footer-wrap {
    width: 81%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .footer__block {
      display: flex;
      flex-direction: column;
      gap: 21px;

      .footer__address,
      .footer__contacts {
        @include flex(column, flex-start, center);
        gap: 10px;
      }

      .dot {
        display: none;
      }

      .footer__address-link {
        font-size: .75rem;
        text-transform: uppercase;
        color: $addition-text-color;
        font-weight: 700;
        letter-spacing: 1px;
      }

      .footer__number {
        font-weight: 700;
        color: #46466E;
      }

      .footer__email {
        color: $addition-text-color;
        font-weight: 700;
      }

      .fb-logo {
        width: 38px;
        cursor: pointer;

        &:hover {
          animation: shake 1s;
        }

        @keyframes shake {
          0% {
            transform: rotate(0deg);
          }

          10% {
            transform: rotate(-10deg);
          }

          20% {
            transform: rotate(10deg);
          }

          30% {
            transform: rotate(-10deg);
          }

          40% {
            transform: rotate(10deg);
          }

          50% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(0deg);
          }
        }
      }
    }

    .footer__copy {
      padding-top: 30px;
      color: #B3B3BA;
    }
  }

  .team-footer-wrap {
    border-top: none;
  }
}

@media (min-width: 375px) {
  .footer {
    .footer-wrap {
      width: 84%;
      margin: 0 auto;
      @include flex(row, space-between, flex-start);
      padding-top: 30px;
      border-top: 2px solid #E6E6F0;

      .footer__block {
        display: flex;
        flex-direction: column;
        gap: 21px;

        .dot {
          display: block;
        }

        .footer__address,
        .footer__contacts {
          @include flex(row, flex-start, center);
          gap: 10px;
        }

        .footer__address-link {
          font-size: .75rem;
          text-transform: uppercase;
          color: $addition-text-color;
          font-weight: 700;
          letter-spacing: 1px;
        }

        .footer__number {
          font-weight: 700;
          color: #46466E;
          white-space: nowrap;
        }

        .footer__email {
          color: $addition-text-color;
          font-weight: 700;
        }
      }

      .footer__copy {
        padding: 0;
      }
    }

    .team-footer-wrap {
      border-top: none;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .footer {
    .footer-wrap {
      width: 91%;
      margin: 0 auto;
    }
  }
}